<html>
    <head></head>
    <body>
        
        <form action="result">
            Amount of Credit given <input type="text" required name="LIMIT_BAL"><br><br>
            Age<input type="text" required name="AGE"><br><br>
            Repayment status in September, 2005<input type="text" required name="PAY_0"><br><br>
            Amount of previous payment in September, 2005<input type="text" required name="PAY_ATM1"><br><br>
            Amount of previous payment in August, 2005<input type="text" required name="PAY_ATM2"><br><br>
            Amount of previous payment in July, 2005<input type="text" required name="PAY_ATM3"><br><br>
            Amount of previous payment in June, 2005<input type="text" required name="PAY_ATM4"><br><br>
            Amount of previous payment in May, 2005 <input type="text" required name="PAY_ATM5"><br><br>
            Amount of previous payment in April, 2005<input type="text" required name="PAY_ATM6"><br><br>
            Repayment status in August, 2005<input type="text" required name="PAY_2"><br><br>
            Amount of bill statement in September, 2005<input type="text" required name="BILL_ATM1"><br><br>
            Amount of bill statement in August, 2005<input type="text" required name="BILL_ATM2"><br><br>
            Amount of bill statement in July, 2005<input type="text" required name="BILL_ATM3"><br><br>
            Amount of bill statement in June, 2005<input type="text" required name="BILL_ATM4"><br><br>
            Amount of bill statement in May, 2005<input type="text" required name="BILL_ATM5"><br><br>
            Amount of bill statement in April, 2005<input type="text" required name="BILL_ATM6"><br><br>
            
            
            <input type="submit">

        </form>
        
    </body>
</html>